@use "variables" as v;
@use "header" as header;
@use "tool-selector" as tool-selector;

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: v.$font-main;
	transition: background-color 0.3s ease, color 0.3s ease;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}